  
.Sidebar-flexbox {
    display: flex;
    flex-direction: column;
    width: 178px;     /* border-right,border-left分マイナス */
    height: 763px;    /* border-bottom分マイナス */
    background: #2D3F44 0% 0% no-repeat padding-box;
    border-right: 1px solid #5C6E72;
    border-left: 1px solid #5C6E72;
    border-bottom: 1px solid #5C6E72;
    opacity: 1;
  }
  
  /*-----------------------------------------------------------------------*/
  
  .Channellist-title {
    margin-top : 10px;
    margin-left : 16px;
    /* fontsize10px未満は適用されず、width内にテキストが収まらないため、widthを設定しない */
    /* width: 74px; */
    height: 12px;
    text-align: left;
    font: normal normal bold 10px/15px "AppleSystemUIFont";
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .Channellist-item {
    margin-top: 10px;
    margin-left : 24px;
    width: 148px;
    /* max-height: 150px;  XDファイルでは4つまで表示されている */
    text-align: left;
    font: normal normal normal 10px/16px ”AppleSystemUIFont”;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  
  .CList-each-item {
    height: 12px;
  }
  
  /*-----------------------------------------------------------------------*/
  
  .DM {
    margin-top : 22px;
    margin-left : 16px;
    /* fontsize10px未満は適用されず、width内にテキストが収まらないため、widthを設定しない */
    /* width: 92px; */
    height: 12px;
    text-align: left;
    font: normal normal bold 10px/15px "AppleSystemUIFont";
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .DM-item-flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
    margin-left : 24px;
    height: 12px;
    text-align: left;
    font: normal normal normal 10px/15px "AppleSystemUIFont";
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .DM-icon {
    width: 8px;
    height: 8px;
    border: 1px solid #707070;
    opacity: 1;
  }
  
  .DM-each-item {
    margin-left : 7.5px;
  }
  